<template>
  <el-container class="home-container">
    <!-- 头部 -->
    <el-header>
      <div>电商管理系统</div>
      <el-button type="info" @click="logout">退出</el-button>
    </el-header>
    <!-- 中间内容 -->
    <el-container>
      <!-- 侧边栏 -->
      <el-aside :width="isCollapse ? '64px': '200px'">
        <div class="toggle-button" @click="toggleCollapse">|||</div>
        <!-- 侧边栏菜单区 -->
        <el-menu
      background-color="#333744"
      text-color="#fff"
      active-text-color="#409EFF"
      :unique-opened="true"
      :collapse="isCollapse"
      :collapse-transition=false
      :router="true"
      :default-active="activePath">
      <!-- 一级菜单 -->
      <el-submenu :index="item.id + ''" v-for="item in menulist" :key="item.id">
        <!-- 一级菜单模板区 -->
        <template slot="title">
          <!-- 图标 -->
          <i :class="iconsObj[item.id]"></i>
          <!-- 文本 -->
          <span>{{item.authName}}</span>
        </template>
        <!-- 二级导航 -->
        <el-menu-item :index="'/'+subItem.path + ''" v-for="subItem in item.children" :key="subItem.id" @click="saveNavState('/' + subItem.path)">
          <!-- 图标 -->
          <i class="el-icon-menu"></i>
          <!-- 文本 -->
          <span>{{subItem.authName}}</span>
        </el-menu-item>
      </el-submenu>
    </el-menu>
      </el-aside>
      <el-main>
        <!-- 路由站位符 -->
        <router-view></router-view>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
export default {
  data(){
    return{
      menulist:[],
      iconsObj:{
        '125':'el-icon-user-solid',
        '103':'el-icon-s-grid',
        '101':'el-icon-goods',
        '102':'el-icon-s-order',
        '145':'el-icon-s-data'
      },
      //是否折叠
      isCollapse:false,
      //二级菜单激活高亮
      activePath: ''
    }

  },
  created(){
    this.getMenuList()
    this.activePath = window.sessionStorage.getItem('activePath')
  },
  methods: {
    logout() {
      window.sessionStorage.clear();
      this.$router.push("/login");
    },
  async getMenuList(){
    const{data:res} = await this.$http.get('menus')
    if(res.meta.status != 200) return this.$message.error(res.meta.msg);
    this.menulist = res.data
    console.log(res)
  },
  // 菜单折叠和展开
  toggleCollapse(){
      this.isCollapse = !this.isCollapse
  },
  saveNavState(activePath){
    window.sessionStorage.setItem('activePath',activePath)
    this.activePath = activePath
  }  
  },
};
</script>

<style lang="less" scoped>
.home-container{
  height: 100%;
}
.el-header{
  background-color: #373d41;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 20px;
}
.el-aside{
  background-color: #333744;
  .el-menu{
    border-right: none;
  }
}
.el-main{
  background-color: #eaedf1;
}
.toggle-button{
  background-color: #4A5064;
  font-size: 10px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.2em;
}
</style>
